@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  font-family: "Quicksand";
  color: #222;
}
.navbar{
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
/* .logo{ */
  /* } */
.navbar .links{
    margin-left: auto;
}
.navbar a{
  text-decoration: none;
  margin: 10px;
}
.navbar a:hover{
  color: blue;
  cursor: pointer;
}
.home .banner{
  background-image: url('Banner-doctor.jpeg');
  /* background-image: linear-gradient(red, blue,green); */
  width: 100%;
  height: 120vh;
  margin-top: -110px;
  background-size: cover;
  background-position: center;
}
.home h1{
  color: #333;
}
.home section{
  height: 100vh;
}