@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-size: 16px;
}
.contact-bar{
  max-width: 100%;
  display: flex;
  padding: 13px 10%;
  margin: auto;
  color: #f2f2f2;
  background-color: #1d3557;
  justify-content: space-between;
}
.contact-bar a{
  text-decoration: none;
  margin: 5px;
  color: #f2f2f2;
  font-size: 13px;
}
.Address{
  flex: 2;
  justify-self: left;
}
.contact-bar a:hover{
  cursor: pointer;
}
.navbar{
  max-width: 100%;
  height: 30px;
  display: flex;
  padding: 30px 10%;
  margin: auto;
}
.navbar .links{
  margin-left: auto;
}
.navbar img{
  width: 50px;
  height: 50px;
}
.navbar a{
  text-decoration: none;
  color: #333;
  /* padding: 0 20px; */
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.navbar a:hover{
  color: #e63946;
  cursor: pointer;
}
.navbar button{
  padding: 8px 20px;
  border-radius: 5px;
  color: #f2f2f2;
  font-weight: 600;
  background-color: #1d3557;
  border: none;
}
.navbar button:hover{
  background-color: #e63946;
}
.banner{
  background-image: url('imgs/Banner-doctor.jpeg');
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
}
